/* file: app_original.css */

/* This file is not any longer used by the app.
   I used it previous to the generation of app.css by sass.
   I will preserve it temporarily as an example of the previous state.*/

body {
    width: 100vw;

    /* flex-container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: azure;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    margin: 1vh 2vw;
    padding: 1vh 1vw;
}

h2 {
    color: #0077cc;
    font-size: 2.2rem;
    margin: 2vh 1vh 1vh;
}

/*          header area
   =============================== */
header {
    width: 100vw;
    height: 10vh;
    background-color: #0077cc;
    color: #fff;
}

header.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-item:first-child {
    margin-left: 3vw; /* Füge hier das gewünschte Margin hinzu */
}

.flex-item:last-child {
    margin-right: 3vw; /* Füge hier das gewünschte Margin hinzu */
}

/*          title area
   =============================== */

.page-title-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #0077cc;
    /*background-color: yellow;*/
    margin: 1vh 1vw;
}

/* page title */
h1 {
    font-size: 2.8rem;
    margin: 2vh 1vh 1vh;
}

.slogan {
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
}

/*          select-dice-area
   =============================== */

#select-dice-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(141, 189, 237, 0.5);
    margin: 1vh 1vw;
}

label {
    display: block;
    /*margin: 2vh 2vw 0;*/
    padding: 1vh 1vw 0;
}

input[type="text"] {
    width: 90vw;
    padding: 1vh 1vw;
    /*margin: 2vh 2vw;*/
    font-size: 1rem;
    border-radius: 5px;
    border: 0.1vh solid #ccc;
}

input[type="submit"]{
    display: block;
    margin: 2vh auto;
    padding: 1vh 2vh;
    font-size: 1.2rem;
    border-radius: .5vw;
    border: none;
    background-color: #0077cc;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #005ca3;
}

ol {
    padding: 2vh 2vw 0;
    margin: 2vh 2vw;
}

li {
    margin-bottom: 1vh;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
    color: #0077cc;
}

a:hover {
    text-decoration: underline;
}

#errorViewer_invalidURL {
    color: red;
}
